# =====================
# Java ignores
# =====================
*.class
*.jar
*.war
*.ear
*.log
*.iml
*.ipr
*.iws
target/
out/
.idea/
.gradle/
build/

# =====================
# Python ignores
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log
.env
.venv
env/
venv/
build/
dist/
.DS_Store
.ipynb_checkpoints/
